<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Billetterie du Louvre</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker3.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/billetteriecss.css') }}" />

    {% block stylesheets %}{% endblock %}

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="cursive">Découvrir le Louvre !</h1>
            <h2 class="sub"><b>Réservation de ticket pour la visite du musée.</b></h2>
            <a style="color: white" href="#myModal" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Voir informations sur les tarifs</a><br><br>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog box">
        <div class="modal-content box">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                <h4 class="modal-title" id="myModalLabel">Informations sur les Tarifs</h4>
            </div>
            <div class="modal-body">
                <table style="border: solid 1px beige; width: 100%">
                    <thead style="border: solid 1px beige">
                    <tr>
                        <td>Tarif</td>
                        <td>Prix Journée</td>
                        <td>Prix Demi-journée</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Enfant (de 0 à 3 ans)</td>
                        <td>0.00€</td>
                        <td>0.00€</td>
                    </tr>
                    <tr>
                        <td>Enfant (de 4 à 11 ans)</td>
                        <td>8.00€</td>
                        <td>4.00€</td>
                    </tr>
                    <tr>
                        <td>Normal (à patir de 12 ans)</td>
                        <td>16.00€</td>
                        <td>8.00€</td>
                    </tr>
                    <tr>
                        <td>Senior (à patir de 60 ans)</td>
                        <td>12.00€</td>
                        <td>6.00€</td>
                    </tr>
                    <tr>
                        <td>Réduit</td>
                        <td>10.00€</td>
                        <td>5.00€</td>
                    </tr>
                    </tbody>
                </table>
                <br>

                <p>
                    <b>Tarif réduit : </b><br>Le tarif réduit est accordè dans certaines conditions(étudiants, employé du musée, d'un service du Ministère de la Culture, militaire...)<br>
                    Les personnes qui ont choisi l'option tarif réduit doivent se présenter muni d'un justificatif.<br><br>
                    <b>Tarif Journée : </b><br>Ce tarif donne accès au musée de l'heure d'ouverture jusqu'à la fermeture.<br><br>
                    <b>Tarif Démi-Journée : </b><br>Ce tarif donne accès au musée de 14 heure jusqu'à la fermeture.<br><br>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                {% for key, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ key }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>


<footer class="footer">
    <div class="container">
        <p>&copy;2017 Projet 4 - Billetterie Musée du Louvre</p>
    </div>
</footer>



<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.fr.min.js') }}"></script>
<script src="{{ asset('js/moment-with-locales.js') }}"></script>

{% block javascript %}{% endblock %}
</body>
</html>


