<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />



</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <div class="row">
                        <div class="col-sm-4" style="text-align: center">
                            <img src="http://www.louvre.fr/sites/all/themes/louvre/img/data/logo-louvre.jpg" width="100%">
                        </div>
                        <div class="col-sm-8" style="text-align: center">
                            <h3>{{ 'modelEmail.titleh3'|trans }}</h3>
                            <p>{{ 'modelEmail.yourCommand'|trans }}  : #{{ client.id }}</p>
                        </div>
                    </div>
                </div>
                <div class="well">
                    <h4>{{ 'modelEmail.information'|trans }}</h4>
                    <p>
                        {{ 'form.email'|trans }} : {{ client.email }} </br>
                        {{ 'form.dateReservation'|trans }} : {{ client.dateReservation|date('d/m/Y') }} </br>
                        {{ 'form.nbrTicket'|trans }} : {{ client.nbrTicket }} </br>
                        {{ 'form.typeTicket'|trans }} : {{ client.typeTicket }} </br>
                        {{ 'modelEmail.code'|trans }} : {{ client.uniquId }}
                    </p>
                </div>
                <div class="well">
                    <table class="table table-condensed" style="font-size: small">
                        <thead>
                        <tr>
                            <td>{{ 'modelEmail.ticketNum'|trans }}</td>
                            <td>{{ 'form.name'|trans }}</td>
                            <td>{{ 'form.firstname'|trans }}</td>
                            <td>{{ 'form.birthdate'|trans }}</td>
                            <td>{{ 'form.abbReducedPrice'|trans }}</td>
                            <td>{{ 'form.price'|trans }}</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ticket in client.Tickets %}
                            <tr>
                                <td>{{ ticket.id }}</td>
                                <td>{{ ticket.name }}</td>
                                <td>{{ ticket.firstname }}</td>
                                <td>{{ ticket.birthday.date|date('d/m/Y') }}</td>
                                <td>
                                    {% if (ticket.tarifReduit) %}
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    {% endif %}
                                </td>
                                <td>{{ ticket.prix|number_format(2, '.', ',') }}€</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <br />
                    <p>{{ 'text.totalOrder'|trans }} : {{ client.prixTotal|number_format(2, '.', ',') }}€</p>
                </div>
            </div>
        </div>
        <p style="text-align: center">{{ 'modelEmail.msgline1'|trans }}</p>
        <p style="text-align: center">{{ 'modelEmail.msgline2'|trans }}</p>
        <footer class="well" style="text-align: center">
                <p>{{ 'title.footer.content'|trans }}</p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>


















