<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - {{ 'title.page.titleParent'|trans }}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker3.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/billetteriecss.css') }}" />

    {% block stylesheets %}{% endblock %}

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="cursive">{{ 'title.body.titleh1'|trans }}</h1>
            <h2 class="sub"><b>{{ 'title.body.titleh2'|trans }}</b></h2>
            <a style="color: white" href="#myModal" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ 'button.priceInfo'|trans }}</a><br><br>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog box">
        <div class="modal-content box">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'modal.buttonClose'|trans }}</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ 'modal.titlePriceInfo'|trans }}</h4>
            </div>
            <div class="modal-body">
                <table style="border: solid 1px beige; width: 100%">
                    <thead style="border: solid 1px beige">
                    <tr>
                        <td>{{ 'modal.tableTitlePrice'|trans }}</td>
                        <td>{{ 'modal.tableTitleDay'|trans }}</td>
                        <td>{{ 'modal.tableTitleHalfDay'|trans }}</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ 'modal.tableLine_1_1'|trans }}</td>
                        <td>0.00€</td>
                        <td>0.00€</td>
                    </tr>
                    <tr>
                        <td>{{ 'modal.tableLine_2_1'|trans }}</td>
                        <td>8.00€</td>
                        <td>4.00€</td>
                    </tr>
                    <tr>
                        <td>{{ 'modal.tableLine_3_1'|trans }}</td>
                        <td>16.00€</td>
                        <td>8.00€</td>
                    </tr>
                    <tr>
                        <td>{{ 'modal.tableLine_4_1'|trans }}</td>
                        <td>12.00€</td>
                        <td>6.00€</td>
                    </tr>
                    <tr>
                        <td>{{ 'modal.tableLine_5_1'|trans }}</td>
                        <td>10.00€</td>
                        <td>5.00€</td>
                    </tr>
                    </tbody>
                </table>
                <br>

                <p>
                    <b>{{ 'modal.infoTitle_1'|trans }} : </b>
                    <br>
                    {{ 'modal.infoText_1'|trans }}
                    <br><br>
                    <b>{{ 'modal.infoTitle_2'|trans }} : </b>
                    <br>
                    {{ 'modal.infoText_2'|trans }}
                    <br><br>
                    <b>{{ 'modal.infoTitle_3'|trans }} : </b>
                    <br>
                    {{ 'modal.infoText_3'|trans }}
                    <br><br>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'modal.buttonClose'|trans }}</button>
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                {% for key, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ key }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>


<footer class="footer">
    <div class="container">
        <p>{{ 'title.footer.content'|trans }}</p>
    </div>
</footer>



<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.fr.min.js') }}"></script>
<script src="{{ asset('js/moment-with-locales.js') }}"></script>

{% block javascript %}{% endblock %}
</body>
</html>


