{% extends "AppBundle::layout.html.twig" %}

{% block title %}Etape 2{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="main_content">
        <h3 class="box"><b>Etape 2 - Remplir les Tickets</b></h3>
        <br />
        <div class="box">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}
            {% for ticket in form.tickets %}
                <div class="form-group">
                    <div class="col-sm-4">
                        {{ form_label(ticket.name, "Nom :", {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_errors(ticket.name) }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_widget(ticket.name) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        {{ form_label(ticket.firstname, "Prénom :", {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_errors(ticket.firstname) }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_widget(ticket.firstname) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4">
                        {{ form_label(ticket.country, "Pays :", {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_errors(ticket.country) }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_widget(ticket.country) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4">
                        {{ form_label(ticket.birthday, "Date Naissance :", {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_errors(ticket.birthday) }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_widget(ticket.birthday) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        {{ form_label(ticket.tarifReduit, "Tarif Réduit :", {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_errors(ticket.tarifReduit) }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_widget(ticket.tarifReduit) }}
                    </div>
                </div>
            <hr>
            {% endfor %}
            <div>
                <input type="submit" value="Valider" class="btn btn-success" />
            </div>
            {{ form_end(form) }}


        </div>
    </div>

{% endblock %}

{% block javascript %}

{% endblock %}
