{% extends "AppBundle::layout.html.twig" %}

{% block title %}Etape 3{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <h3 class="box"><b>Etape 3 - Confirmation de commande</b></h3>
    <br />
    <div class="box">
            Email : {{ client.email }} </br>
            Date de réservation : {{ client.dateReservation|date('d/m/Y') }} </br>
            Nombre de ticket : {{ client.nbrTicket }} </br>
            Type de ticket : {{ client.typeTicket }} </br>
        </p>
        <table class="tabCommand">
            <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prenom</td>
                    <td>Date de naissance</td>
                    <td>TR</td>
                    <td>Prix</td>
                </tr>
            </thead>
            <tbody>
                {% for ticket in client.Tickets %}
                <tr>
                    <td>{{ ticket.name }}</td>
                    <td>{{ ticket.firstname }}</td>
                    <td>{{ ticket.birthday.date|date('d/m/Y') }}</td>
                    <td>
                        {% if (ticket.tarifReduit) %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td>{{ ticket.prix|number_format(2, '.', ',') }}€</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br />
        <p>Total commande : {{ client.prixTotal|number_format(2, '.', ',') }}€</p>

        {# Bouton de paiement Stripe #}
        <form action="{{ path('order_checkout') }}" method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_LxgN9vsI0c4K5wK628nb8362"
                    data-amount="{{ client.prixTotal|number_format(2, '.', ',') * 100 }}"
                    data-name="Musée du Louvre"
                    data-description="Commande Billet"
                    data-locale="auto"
                    data-currency="eur">
            </script>
        </form>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}
