{% extends "layout.html.twig" %}

{% block title %}{{ 'title.page.etape4'|trans }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <h3 class="box"><b>{{ 'title.body.h3etape4'|trans }}</b></h3>
    <br />
    <div class="box">
       <p>{{ 'text.finalCommandmsgLine1'|trans }}</p>
       <p class="small">{{ 'text.finalCommandmsgLine2'|trans }}</p>
       <p class="small">{{ 'text.finalCommandmsgLine3'|trans }}</p>
    </div>

{% endblock %}

{% block javascript %}
{% endblock %}
