{% extends "layout.html.twig" %}

{% block title %}{{ 'title.page.etape1'|trans }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <h3 class="box"><b>{{ 'title.page.etape1'|trans }} - {{ 'title.body.h3etape1'|trans }}</b></h3>
    <br />
    <div class="box">

        {{ form_start(form, {'attr': {'class': 'form'}}) }}

        {{ form_errors(form) }}

        {# Champ Email #}
        <div class="form-group">
            {{ form_label(form.email.first) }}
            <div class="col-sm-12">
                {{ form_widget(form.email.first) }}
                {{ form_errors(form.email.first) }}
            </div>
        </div>
        {# Champ Confirm Email #}
        <div class="form-group">
            {{ form_label(form.email.second) }}
            <div class="col-sm-12">
                {{ form_widget(form.email.second) }}
                {{ form_errors(form.email.second) }}
            </div>
        </div>
        {# Champ Date de réservation #}
        <div class="form-group">
            {{ form_label(form.dateReservation) }}
            <div class="col-sm-12">
                <div class="input-group date">
                    {{ form_widget(form.dateReservation) }}
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </div>
                </div>
                {{ form_errors(form.dateReservation) }}
            </div>
        </div>
        {# Champ Nombre de ticket #}
        <div class="form-group">
            {{ form_label(form.nbrTicket) }}
            <div class="col-sm-12">
                {{ form_widget(form.nbrTicket) }}
                {{ form_errors(form.nbrTicket) }}
            </div>
        </div>

        {# Champ Type de ticket #}
        <div class="form-group">
            {{ form_label(form.typeTicket) }}
            <div class="col-sm-12">
                {{ form_widget(form.typeTicket) }}
                <label id="message"></label>
                {{ form_errors(form.typeTicket) }}
            </div>
        </div>

        <div>
            <br />
            <input type="submit" value="{{ 'button.validate'|trans }}" class="btn btn-success" />
        </div>
        {{ form_end(form) }}
    </div>


{% endblock %}

{% block javascript %}
    <script >
        $('.input-group.date').datepicker({
            language: "{{ app.request.locale }}",
            format: 'dd/mm/yyyy',
            daysOfWeekDisabled: "2",
            datesDisabled: {{ listDateDisabled|json_encode()|raw }},
            autoclose: true,
            todayHighlight: true,
            startDate: '+0d',
            endDate: '+12m',
        })
        // Fonction pour bloquer l'acces au Ticket journée si la date du jour est selectionnée et qu'il est 14h passé.
        function verif14h() {
            var x = document.getElementById("appbundle_client_dateReservation").value;
            moment.locale("{{ app.request.locale }}")
            if (moment().format('DD MMMM YYYY') == x && moment().format("HH") >= 14) {
                document.getElementById("appbundle_client_typeTicket_0").disabled = true;
                document.getElementById("appbundle_client_typeTicket_0").style.display = 'none';
                document.getElementById("message").innerHTML = "{{ 'text.message14'|trans }}";
            } else {
                document.getElementById("appbundle_client_typeTicket_0").style.display = 'block';
                document.getElementById("appbundle_client_typeTicket_0").disabled = false;
                document.getElementById("message").innerHTML = "";
            }
        }
    </script>
{% endblock %}
